@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@mixin flex($dir: column, $just: center, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
}

//Global Styling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  a {
    text-decoration: none;
    color: #000000;
  }
  button {
    border: none;
  }
}

//Header section

header {
  @include flex();
  height: 10vh;
  font-size: 3rem;
}
.logo {
  font-family: "Great Vibes", cursive;
}
//search bar
.search-form {
  @include flex($dir: row);
  button {
    background-color: rgb(110, 182, 250);
    font-size: 2rem;
    height: 3.8rem;
    cursor: pointer;
    padding: 0 0.5rem;
  }
  button:hover {
    background-color: rgb(43, 147, 245);
  }
  .search-bar {
    height: 3.8rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 25rem;
    border: 2px solid rgb(82, 157, 228);
    outline: none;
  }
}

.gallery {
  display: grid;
  width: 95%;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.img-container {
  width: 30rem;
  margin: 1rem 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 30px;
    box-shadow: 10px 5px 15px rgba($color: #000000, $alpha: 0.3);
  }
}

.load-more {
  @include flex();
  padding: 2rem;
  .more-btn {
    border: none;
    color: white;
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: rgb(78, 169, 255);
    cursor: pointer;
  }
  .more-btn:hover {
    background-color: rgb(14, 134, 247);
  }
}
